{% extends "lets_jam.html" %}
{% block title %}{{artistName}} - {{albumTitle}}{% endblock %}
{% block page_head %}<h1 class="Jam">Jam</h1>{% endblock %}

{% block review_page_style %}
<style>
#article_body{
	width: 100%;
}
</style>
{% endblock %}

{{article_header}}

{% block feature_content %}
{% load staticfiles %}
{% load tags %}
<div class="feature">
	<div class="album_review_detail_preview">
		<h1>{{albumTitle}}</h1>
		<h3>{{artistName}}</h3>
	</div>
	<div class="album_art">
		<img src="/static/{{albumTitle|underscore}}.jpg">
	</div>
</div>
<div id="article_body">
		<p>{{featureReview}}</p>
</div>
{% endblock %}

{% block child_scripts %}
<!--script src="https://npmcdn.com/react@15.3.0/dist/react.js"></script>
<script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.js"></script>
<-->
<script>
function staticSource(file){
	var staticPath = "/static/";
	for (var i = 0; i < file.length; i++){
		if (file[i] == " ")
			staticPath += "_";
		else
			staticPath += file[i];
	}
	return staticPath + ".jpg";
}
var ReviewPreview = React.createClass({
	render : function(){
		return(
			<div class="album_review_detail_preview">
				<h1>{{albumTitle}}</h1>
				<h3>{{artistName}}</h3>
			</div>
		);
	}
});
var AlbumArt = React.createClass({
	render : function(){
		return (
			<div class="album_art">
				<img src=staticSource(this.props.albumTitle)>
			</div>
		);
	}
});
var Feature = React.createClass({
	getInitialState : function(){
		return (

		);
	},
	render : function(){
		return (
			<ReviewPreview/>
			<AlbumArt albumTitle={}/>
		);
	}
});
ReactDOM.render(){
	<Feature/>
	document.getElementbyID('feature');
}
var ArticleBody = React.createClass({
	render : function(){
		return(
			<div id="article_body">
				<p>{featureReview}</p>
			</div>
		);
	}
});
ReactDOM.render(){
	<ArticleBody/>
	document.getElementbyID('feature');
}
</script>
{% endblock %}