{% extends "lets_jam.html" %}
{% block feature_content %}

{% if no_features %}
	<h3>There are no featured albums at the moment.</h3>

{% elif featured_albums %}
	{% load tags %}
	{% load staticfiles %}
	{% for album in featured_albums %}
		<div class="feature">
			<div class="album_review_detail_preview">
				<h1>{{album.albumTitle}}</h1>
				<h3>{{album.artistName}}</h3>
				<p>{{album.featureReview}}</p>
			</div>
			<div class="album_art">
				<a href="/time/jam_out/{{album.albumTitle|underscore}}/">
				<img src="/static/{{album.albumTitle|underscore}}.jpg">
				</a>
			</div>
		</div>
	{% endfor %}
{% endif %}

{% endblock %}

{% block child_scripts %}
<!--script src="https://npmcdn.com/react@15.3.0/dist/react.js"></script>
<script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.js"></script>
<script>
	var FeatureBlock = React.createClass({
		render : function(){
			return(
				<h1>{{album.albumTitle}}</h1>
				<h3>{{album.artistName}}</h3>
				<p>{{album.featureReview}}</p>
			)
		};
	});
	ReactDOM.render(){
		<FeatureBlock/>
		document.getElementById('feature')
	}
</script-->
{% endblock %}