{% extends "base.html" %}
{% block page_styling %}
<style>
	div.album_display{
		display: table-cell;
		margin-bottom: 10px;
		padding: 100px 200px;
	}
	div.container {
		padding: 10px 0px;
	}
	div img{ /* FORMAT ALBUM IMAGE */

	}
	header{
		background-color: #CF000F;
		color: white;
		position: center;
	}
	h1{
		color: #34495E;
		display: inline;
		margin-top: 0px;
		padding-top: 0px;
		text-transform: none;
	}
	h2{
		padding-top: 0px;
		text-transform: none;
		display: inline;
	}
	h3{
		color: #34495E;
		font-family: "UniversLTW01-59UltraCn","Zurich W03 Light X Cnd","Helvetica Neue",Helvetica,Arial,sans-serif;
		text-transform: none;
	}
	p{
		color: #34495E;
		font-family: "UniversLTW01-59UltraCn","Zurich W03 Light X Cnd","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 15px;
		font-weight: bold;
		display: flex;
		text-transform: none;
	}
	a{ /* FORMAT ALL LINKS & UNVISITED LINKS */
		color: #CF000F;
		font-family: "UniversLTW01-59UltraCn","Zurich W03 Light X Cnd","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 20px;
		text-decoration: none;
		text-transform: uppercase;
	}
	a:visited { /* VISITED LINKS */
    	color: #E74C3C;
	}
	a:hover { /* HOVER OVER LINKS */
    	color: #3FC380;
	}
	#header_placement{
		background-color: #CF000F;
		height: 17%;
		width: 100%;
	}
	#container{
		height: 70%;
	}
	.nav{
		padding-top: .5rem;
		padding-bottom: .5rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.feature{
		height: 319px;
  		margin-left: auto;
  		margin-right: auto;
  		padding-bottom: 1rem;
	}
	.album_art{
		float: right;
	}
	.album_review_detail_preview{
		float: left;
		width: 45%;
	}
	#nav_bar{
		padding-top: 2%;
		margin: auto;
	}
	#display_box{
		margin: auto;
		width: 62%;
	}
	#feature_label{
		/*background-color: #ECECEC; */
		height: 17px;	
		width: 100%;
	}
	#features_listing{
		padding-top: 5px;
	}
</style>
{% endblock %}
{% block review_page_style %}
{% endblock %}

{% block title %}Let's Jam{% endblock %}

{% block page_head %}
<h1 class="Jam">Jam</h1>
<nav id="home_navigation">
	<div id="nav_bar">
	<a href="/time/jam_out/" class="nav">Home</a>
	<a href="/time/jam_out/recommend/" class="nav">Recommend</a>
	</div>
</div>

{% endblock %}

{% block page_content %}

<!-- Featured Albums -->
<div id="display_box">
	<div id="feature_label">
		<h3>{{article_header}}</h3>
	</div>
	<hr>
	<div id="features_listing">
		{% block feature_content%}{% endblock %}
	</div>

</div>

{% endblock %}

