{% extends "base.html" %}
{% block page_styling %}
<style>
	div.album_display{
		display: table-cell;
		margin-bottom: 10px;
		padding: 100px 200px;
	}
	div.container {
		padding: 10px 0px;
	}
	div img{ /* FORMAT ALBUM IMAGE */

	}
	header{
		position: center;
	}
	p{
		color: #34495E;
		font-family: "UniversLTW01-59UltraCn","Zurich W03 Light X Cnd","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 15px;
		font-weight: bold;
		text-transform: none;
	}
</style>
{% endblock %}
{% block title %}Let's Jam{% endblock %}
{% block page_head %}<h1 class="Jam">Welcome to Jam</h1>{% endblock %}

{% block page_content %}
{% load tags %}
<!-- Featured Albums -->
{% if no_features %}
	<h2>There are no featured albums at the moment.</h2>
{% elif featured_albums %}
	{% for album in featured_albums %}
		<div>
			<img src="/static/{{album|underscore}}.jpg">
			<h2>{{album}}</h2>
		</div>
	{% endfor %}
{% endif %}
<img src="/static/{{test|underscore}}.jpg">
<h2>{{test}}</h2>
{% endblock %}

